* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.app {
  text-align: center;
}

header {
  //margin-top: 140px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 140px;
}

header h1 {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-size: 42px;
  color: black;
}

header p {
  font-size: 20px;
  color: black;
  opacity: 0.4;
  margin-top: -25px;
}

.pads {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: grid;
  border-radius: 200px 200px 0px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  bottom: 0px;
}

.pads > div {
  height: 50vh;
  transition: 300ms;
  text-align: left;

  span {
    position: absolute;
    bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0.3;
    padding: 0px 0px 30px 45px;
  }

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.pad1 {
  background: #e57373;
}

.pad2 {
  background: #FFA726;

}

.pad3 {
  background: #FFEB3B;

}

.pad4 {
  background: #66BB6A;
}

.pad5 {
  background: #1E88E5;
  //border-radius: 0px 200px 0px 0px;
}

.pad6 {
  background: #CE93D8;
  //border-radius: 200px 0px 0px 0px;
}

#visual {
  //position: absolute;
  background-image: url("../res/pose1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.wave {
  position: absolute;
  width: 100%;
  height: 140px;
  top: calc(50% - 10px);
  background: url("../res/wave.svg");
  animation: wave 8s linear infinite;
  transform: rotate(180deg);
  pointer-events: none;
}

@keyframes wave {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -1600px 0px;
  }
}

.menu-container {
  position: absolute;
  padding: 40px;
  z-index: 10;

  ul {
    list-style: none;
  }

  li:nth-child(1) {
    font-weight: bolder;
    font-size: 28px;
    //opacity: 0.5;
    //color: #ef9a9a;
  }

  li {
    margin-bottom: 10px;
    transition: 300ms;
    //opacity: 0.5;

    &:hover {
      cursor: pointer;
      //opacity: 0.4;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pads {
    height: 40vh;

    div {
      height: 40vh;
    }

    span {
      display: none;
    }
  }

  .wave {
    top: 60vh;
  }

  header {
    top: 35%;
  }

  header h1 {
    margin-top: 60px;
    font-size: 28px;
    margin-top: 0px;
  }
  header p {
    font-size: 14px;
  }

  #visual {
    width: 70px;
    height: 70px;
  }

  .menu-container {
    padding: 20px;
  }
}
