* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.app {
  text-align: center;
}

.loop-button-container {
  position: absolute;
  right: 0px;
  margin: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 20;
}

.loop-button {
  width: 45px;
  height: 45px;
  background-image: url("../res/baseline-play_circle_outline-24px.svg");
  background-size: contain;
  border-radius: 100px;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin: 5px;
}

.loop-button:hover {
  cursor: pointer;
  background-image: url("../res/baseline-play_circle_filled-24px.svg");
}

header {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 15%;
  width: 100%;
  height: 200px;
}

header h1 {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-size: 42px;
  color: black;
}

header p {
  font-size: 20px;
  color: black;
  opacity: 0.4;
  margin-top: -25px;
}

.pads-top {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  border-radius: 200px 200px 0px 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  top: 0px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.pads {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  border-radius: 200px 200px 0px 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  bottom: 0px;
}

.pads > div {
  height: 50vh;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-align: left;
}

.pads > div span {
  position: absolute;
  bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  opacity: 0.3;
  padding: 0px 0px 30px 45px;
}

.pads > div:hover {
  opacity: 0.5;
  cursor: pointer;
}

.pads-top > div {
  height: 30vh;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-align: left;
}

.pads-top > div span {
  position: absolute;
  top: 0px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  opacity: 0.3;
  padding: 30px 0px 0px 45px;
}

.pads-top > div:hover {
  opacity: 0.5;
  cursor: pointer;
}

.pad1 {
  background: #e57373;
}

.pad2 {
  background: #FFA726;
}

.pad3 {
  background: #FFEB3B;
}

.pad4 {
  background: #66BB6A;
}

.pad5 {
  background: #1E88E5;
}

.pad6 {
  background: #CE93D8;
}

#visual {
  background-image: url("../res/pose1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.wave {
  position: absolute;
  width: 100%;
  height: 140px;
  top: calc(50% - 10px);
  background: url("../res/wave.svg");
  -webkit-animation: wave 8s linear infinite;
          animation: wave 8s linear infinite;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  pointer-events: none;
}

.wave-top {
  position: absolute;
  width: 100%;
  height: 140px;
  top: calc(15% + 10px);
  background: url("../res/wave.svg");
  background-position: 800px 0px;
  -webkit-animation: waveTop 8s linear infinite;
          animation: waveTop 8s linear infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  pointer-events: none;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1600px 0px;
  }
}

@keyframes wave {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1600px 0px;
  }
}

@-webkit-keyframes waveTop {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}

@keyframes waveTop {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1600px 0px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu-container-top {
  position: absolute;
  padding: 40px;
  z-index: 10;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: right;
}

.menu-container-top ul {
  list-style: none;
}

.menu-container-top li:nth-child(1) {
  font-weight: bolder;
  font-size: 28px;
}

.menu-container-top li {
  margin-bottom: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-container-top li:hover {
  cursor: pointer;
}

.menu-container {
  position: absolute;
  padding: 40px;
  z-index: 10;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  top: 0px;
  left: 0px;
}

.menu-container ul {
  list-style: none;
}

.menu-container li:nth-child(1) {
  font-weight: bolder;
  font-size: 28px;
}

.menu-container li {
  margin-bottom: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-container li:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .pads {
    height: 40vh;
  }
  .pads div {
    height: 40vh;
  }
  .pads span {
    display: none;
  }
  .wave {
    top: 60%;
  }
  header {
    top: 35%;
  }
  header h1 {
    margin-top: 60px;
    font-size: 28px;
    margin-top: 0px;
  }
  header p {
    font-size: 14px;
  }
  #visual {
    width: 70px;
    height: 70px;
  }
  .menu-container {
    padding: 20px;
  }
  .loop-button-container {
    margin: 20px;
  }
  .loop-button {
    width: 35px;
    height: 35px;
  }
}
/*# sourceMappingURL=styles.css.map */