* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;  
}

.app {
  text-align: center;
}

.loop-button-container {
  position: absolute;
  //background: red;
  right: 0px;
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 20;
}

.loop-button {
  //position: absolute;
  width: 45px;
  height: 45px;
  background-image :url("../res/baseline-play_circle_outline-24px.svg");
  background-size: contain;
  border-radius: 100px;
  //right: 0px;
  //margin: 40px;
  transition: 300ms;
  margin: 5px;
  //opacity: 0;  

  &:hover {
    cursor: pointer;
    //background-image: url("../res/baseline-play_circle_filled-24px.svg") !important;
  }
}

.loop-button-container div {
  opacity: 0;

  &:hover {
    transform: scale(1.2);
  }
}

header {
  //margin-top: 140px;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 15%;
  //bottom: 0px;
  width: 100%;
  height: 200px;
}

header h1 {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-size: 42px;
  color: black;
}

header p {
  font-size: 20px;
  color: black;
  opacity: 0;
  margin-top: 6%;
  animation: subtitle-swoop 1s ease forwards 4.5s;
}

.pads-top {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: grid;
  border-radius: 200px 200px 0px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  top: 0px;
  filter: grayscale(1);
}

.pads {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: grid;
  border-radius: 200px 200px 0px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  bottom: 0px;
}

.pads > div {
  height: 50vh;
  transition: 300ms;
  text-align: left;
  opacity: 0;

  span {
    position: absolute;
    bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0.3;
    padding: 0px 0px 30px 45px;
    transition: 500ms;
  }

  &:hover {
    filter: brightness(.8);
    cursor: pointer;
  }
}

.pads-top > div {
  height: 30vh;
  transition: 300ms;
  text-align: left;

  span {
    position: absolute;
    top: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0.3;
    padding: 30px 0px 0px 45px;
  }

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.pad1 {
  background: #e57373;
  //animation: padIntro 0.8s ease-out forwards;
}

.pad2 {
  background: #FFA726;
  //animation: padIntro 0.8s ease-out forwards 0.2s;
}

.pad3 {
  background: #FFEB3B;
  //animation: padIntro 0.8s ease-out forwards 0.4s;
}

.pad4 {
  background: #66BB6A;
  //animation: padIntro 0.8s ease-out forwards 0.6s;
}

.pad5 {
  background: #1E88E5;
  //animation: padIntro 0.8s ease-out forwards 0.8s;
  //border-radius: 0px 200px 0px 0px;
}

.pad6 {
  background: #CE93D8;
  //animation: padIntro 0.8s ease-out forwards 1.0s;
  //border-radius: 200px 0px 0px 0px;
}

#visual {
  //position: absolute;
  background-image: url("../res/pose1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: visual-swoop 1s ease forwards 5.5s;
}

.wave {
  position: absolute;
  width: 100%;
  height: 140px;
  top: calc(50% - 10px);
  background: url("../res/wave.svg");
  animation: wave 8s linear infinite;
  transform: rotate(180deg);
  pointer-events: none;
}

.wave-top {
  position: absolute;
  width: 100%;
  height: 140px;
  top: calc(15% + 10px);
  background: url("../res/wave.svg");
  background-position: 800px 0px;
  animation: waveTop 8s linear infinite;
  transform: rotate(0deg);
  pointer-events: none;
  //filter: invert(1);
}

@keyframes wave {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -1600px 0px;
  }
}

@keyframes waveTop {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 1600px 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes padIntro {
  from {
    height: 0%;
    span {
      opacity: 0;
    }
  }
  to {
    height: 100%;
    span {
      opacity: 1;
    }
  }
}

.menu-container-top {
  position: absolute;
  padding: 40px;
  z-index: 10;
  height: max-content;
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: right;

  ul {
    list-style: none;
  }

  li:nth-child(1) {
    font-weight: bolder;
    font-size: 28px;
    //opacity: 0.5;
    //color: #ef9a9a;
  }

  li {
    margin-bottom: 10px;
    transition: 300ms;
    //opacity: 0.5;

    &:hover {
      cursor: pointer;
      //opacity: 0.4;
    }
  }
}

.menu-container {
  position: absolute;
  padding: 40px;
  z-index: 10;
  height: max-content;
  margin: auto;
  top: 0px;
  left:0px;
  //bottom: 0px;
  //text-align: center;

  ul {
    list-style: none;
  }

  li:nth-child(1) {
    font-weight: bolder;
    font-size: 28px;
    //color: #ef9a9a;
  }

  li {
    margin-bottom: 10px;
    transition: 300ms;
    opacity: 0;
    //opacity: 0.5;

    &:hover {
      cursor: pointer;
      //font-size: 23px;
    }
  }
}


#logo {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 1s ease forwards 4.5s;
  //animation: shiftLogo 1s ease forwards 4s; 
}

#logo path:nth-child(1) {
  stroke-dasharray: 313;
  stroke-dashoffset: 313;
  animation: line-animate 2s ease-in forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  animation: line-animate 2s ease-in forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 206;
  stroke-dashoffset: 206;
  animation: line-animate 2s ease-in forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
  animation: line-animate 2s ease-in forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
  animation: line-animate 2s ease-in forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 247;
  stroke-dashoffset: 247;
  animation: line-animate 2s ease-in forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  animation: line-animate 2s ease-in forwards 1.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: line-animate 2s ease-in forwards 2.1s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 213;
  stroke-dashoffset: 213;
  animation: line-animate 2s ease-in forwards 2.4s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 109;
  stroke-dashoffset: 109;
  animation: line-animate 2s ease-in forwards 2.7s;
}

ul {

}

ul li:nth-child(1) {
  animation: menu-intro 0.5s ease forwards 6s;
}
ul li:nth-child(2) {
  animation: menu-intro 0.5s ease forwards 6.1s;
}
ul li:nth-child(3) {
  animation: menu-intro 0.5s ease forwards 6.2s;
}
ul li:nth-child(4) {
  animation: menu-intro 0.5s ease forwards 6.3s;
}
ul li:nth-child(5) {
  animation: menu-intro 0.5s ease forwards 6.4s;
}
ul li:nth-child(6) {
  animation: menu-intro 0.5s ease forwards 6.5s;
}
ul li:nth-child(7) {
  animation: menu-intro 0.5s ease forwards 6.6s;
}

.loop-button-container div:nth-child(1) {
  animation: backtrack-intro 0.5s ease forwards 6.7s;
}
.loop-button-container div:nth-child(2) {
  animation: backtrack-intro 0.5s ease forwards 6.8s;
}
.loop-button-container div:nth-child(3) {
  animation: backtrack-intro 0.5s ease forwards 6.9s;
}
.loop-button-container div:nth-child(4) {
  animation: backtrack-intro 0.5s ease forwards 7s;
}
.loop-button-container div:nth-child(5) {
  animation: backtrack-intro 0.5s ease forwards 7.1s;
}
.loop-button-container div:nth-child(6) {
  animation: backtrack-intro 0.5s ease forwards 7.2s;
}
.loop-button-container div:nth-child(7) {
  animation: backtrack-intro 0.5s ease forwards 7.3s;
}
.loop-button-container div:nth-child(8) {
  animation: backtrack-intro2 0.5s ease forwards 7.4s;
}
.loop-button-container div:nth-child(9) {
  animation: backtrack-intro2 0.5s ease forwards 7.5s;
}
.loop-button-container div:nth-child(10) {
  animation: backtrack-intro2 0.5s ease forwards 7.6s;
}

.pads div:nth-child(1) {
  animation: pad-intro 0.5s ease-in forwards 5s;
}
.pads div:nth-child(2) {
  animation: pad-intro 0.5s ease-in forwards 5.1s;
}
.pads div:nth-child(3) {
  animation: pad-intro 0.5s ease-in forwards 5.2s;
}
.pads div:nth-child(4) {
  animation: pad-intro 0.5s ease-in forwards 5.3s;
}
.pads div:nth-child(5) {
  animation: pad-intro 0.5s ease-in forwards 5.4s;
}
.pads div:nth-child(6) {
  animation: pad-intro 0.5s ease-in forwards 5.5s;
}
.pads div:nth-child(7) {
  animation: pad-intro 0.5s ease-in forwards 5.6s;
}
.pads div:nth-child(8) {
  animation: pad-intro 0.5s ease-in forwards 5.7s;
}

@keyframes line-animate {
  to {
      stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
      fill: transparent;
      width: 465px;
      top: 130%;
  }
  to {
      fill: black;
      width: 270px;
      top: 73%;
  }
}

@keyframes fill-mobile {
  from {
      fill: transparent;
      width: 270px;
  }
  to {
      fill: black;
      width: 200px;
  }
}

@keyframes shiftLogo {
  from {
    width: 465px;
    top: 130%;
  }
  to {
    width: 270px;
    top: 73%;
  }
}

@keyframes shiftLogoMobile {
  from {
    width: 270px;
    top: 50%;
  }
  to {
    width: 200px;
    top: 50%;
  }
}

@keyframes shift-subtitle-mobile {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    tranform: translateY(100px);
    opacity: 1;
  }
}

@keyframes menu-intro {
  from {
    margin-bottom: 60px;
    opacity: 0;
  }
  to {
    margin-bottom: 10px;
    opacity: 1;
  }
}

@keyframes backtrack-intro {
  from {
    margin-bottom: 60px;
    opacity: 0;
  }
  to {
    margin-bottom: 5px;
    opacity: 1;
  }
}

@keyframes backtrack-intro2 {
  from {
    margin-bottom: 60px;
    opacity: 0;
  }
  to {
    margin-bottom: 5px;
    opacity: 0.4;
  }
}

@keyframes pad-intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subtitle-swoop {
  from {
    opacity: 0;
    margin-top: 6%;
  }
  to {
    opacity: 0.4;
    margin-top: 4%;
  }
}

@keyframes visual-swoop {
  from {
    opacity: 0;
    //margin-top: -30px;
  }
  to {
    opacity: 1;
    //margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .pads {
    height: 30vh;

    div {
      height: 30vh;
    }

    span {
      display: none;
    }
  }

  .pad1 {
    border-radius: 100px 0px 0px 0px;
  }

  .pad6 {
    border-radius: 0px 100px 0px 0px;
  }

  .wave {
    //border-radius: 100px;
    //background: white;
    display: none;
  }

  header {
    top: 35%;
  }

  header h1 {
    margin-top: 60px;
    font-size: 28px;
    margin-top: 0px;
  }
  header p {
    font-size: 14px;
    transform: translateY(40px);
    animation: shift-subtitle-mobile 1s ease forwards 5s;
  }

  #visual {
    width: 70px;
    height: 70px;
  }

  .menu-container {
    padding: 20px;
  }

  .loop-button-container {
    margin: 20px;
  }

  .loop-button {
    width: 35px;
    height: 35px;
  }

  #logo {
    top: 50%;
    width: 270px;
    animation: shiftLogoMobile 1s ease forwards 5s;
    animation: fill-mobile 1s ease forwards 4.5s;
  }
}

